/* remove and clear in home page 
    gif image adding for loading
    select statement using the add many api
*/



:root{
    --black: #171717;
    --gray: #f2f2f2;
    --dark-gray: #e6e6e6;
    --blue: #0078d4;
    --font-size: 1.3rem;
    --icon-font: 'Bubblegum Sans', cursive;
    --mono: 'Smooch Sans', sans-serif;
    --serif: 'Port Lligat Sans', sans-serif;
}
*,
*::after,
*::before{
    box-sizing: border-box;
}
h1, h2, h3{
    margin: 0;
}

h2{
    font-family: var(--icon-font);
}
body{
    padding: 0;
    margin: 0;
    background-color: var(--gray);
    color: var(--black);
    font-family: var(--serif);
}
.btn{
    color: white;
    background-color: var(--blue);
    border: none;
    padding: 0.5rem;
    font-family: var(--icon-font);
    cursor: pointer;
    /* font-weight: bolder; */
}
.btn:hover{
    background-color: darkblue;
}

/*---------- Main Style -----------*/
#page{
    max-width: 1024.5px;
    width: 75vw;
    margin: 0 auto;
    background-color: white;
    height: auto;
    margin-top: 2rem;
    padding: 2rem;
}

#page .doggos, #page .frame-container{
    min-height: 50vw;
    margin: 1rem 0; 
    padding: 1rem;
    width: auto;
    background-color: var(--dark-gray);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#page .dog-image{
    height: 50vw;
    width: 50vw;
    margin: 1rem; 
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--gray);
}

#page .doggos .dog-image:nth-child(even)
{
    border-top: 2px solid var(--blue);
    border-right: 2px solid var(--blue);
}

#page .doggos .dog-image:nth-child(odd)
{
    border-bottom: 2px solid var(--blue);
    border-left: 2px solid var(--blue);
}
#page #about{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
#page .frame{
    height: 50vw;
    width: 50vw;
    margin: 1rem; 
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    column-gap: 0.25rem;

}
#page .frame .frame-img{
    height: 40vw;
    width: 50vw;
    flex-basis: 100%;
    background-color: var(--gray);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#page .frame-btn{
    
    padding: 0.25rem;
    width: 45%;
    max-width: 120px;
    max-height: 30px;
}

#page #help{
    margin-top: 3rem;
}

#page #help dt{
    font-weight: bold;
}
#page .amt-to-generate{
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: var(--serif);

}


/*---------- Header Style -----------*/
#header{
    background-color: white;
}

#header h1 .icon-text{
    font-family: var(--icon-font);
}
#header nav{
    border-bottom: 2px solid var(--dark-gray);
}

#header .nav-container{
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

#header .nav-container li {
    padding: 0.25rem;
    color: white;
}
#header .nav-container li a{
    display: block;
}
#header .nav-container h1:first-child{
    flex-basis: 100vw;
    text-align: center;
    border-bottom: 2px solid var(--dark-gray);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#header a, #footer a{
    text-decoration: none;
    color: var(--black);
    font-family: var(--mono);  
    font-size: 120%; 
}
#header a:hover:not(.icon-text), #footer a:hover{
    border-bottom: 2px solid var(--black);  
}
#header .links-container{
    margin:0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 30px;
    list-style-type: none;
    gap: 1.5rem;
}
#header .links-container .active{
    background-color: var(--blue);
}
#header .links-container .active a{
    color: white;
}
#header .links-container .active a:hover{
    border-bottom: none;
}


/*--------- Footer Styles -------------*/

#footer{
    background-color: var(--dark-gray);
}

#footer .links-container{
    margin:0;
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content:  center;
    align-items: center;
    list-style-type: none;
    gap: 1rem;

}
#footer a:hover{
    text-decoration: underline;  
    color: #444;
}


/*---------- Media Queries for RWD ----------------*/
@media screen and (min-width: 850px) {
    /* 
        responsive frames
        bg image cover and others
    */
    #page .frame-container{
        min-height: 30vw;;
    }
    #page .frame{
        height: 30vw;
        width: 30vw;
        margin: 1rem 0.25rem; 
        justify-content: space-evenly;
    }
    #page .frame .frame-img{
        height: 25vw;
    }

    #header .nav-container h1:first-child{
        flex-basis: 50%;
        text-align: left;
        border-bottom: none;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    #header .nav-container{
        max-width: 1200px;
        margin: 0 auto;
    }

}
@media screen and (min-width: 1200px) {
    /* responsive frames */
    #page .frame-container{
        min-height: 20vw;;
    }
    #page .frame{
        height: 20vw;
        width: 20vw;
        margin: 1 rem 0.25rem; 
    }
    #page .frame .frame-img{
        height: 15vw;
    }
}

